<div class="home__container">
	<app-card
		gameLink=""
		gameCover="https://image.api.playstation.com/vulcan/img/rnd/202010/2620/gPTPUF3mT9FXELav8OKXmr9j.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 199,50"
	>
	</app-card>
	<app-card
		gameLink=""
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4 | PS5"
		gamePrice="R$ 199,50"
	>
	</app-card>
	<app-card
		gameLink=""
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202010/0222/b3iB2zf2xHj9shC0XDTULxND.png"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 279,00"
		>
	</app-card>
	<app-card
		gameLink=""
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202011/0921/B7jV8ThPs8eqDz8NRRllf7g6.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 169,99"
	>
	</app-card>
</div>

