<div class="home__container">
	<!--Uncharted-->
	<app-card
		gameLink="https://www.playstation.com/pt-br/games/uncharted-4-a-thiefs-end/"
		gameCover="https://image.api.playstation.com/vulcan/img/rnd/202010/2620/gPTPUF3mT9FXELav8OKXmr9j.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 199,50"
	>
	</app-card>
	<!--Horizon-->
	<app-card
		gameLink="https://www.playstation.com/pt-br/games/horizon-forbidden-west/"
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4 | PS5"
		gamePrice="R$ 249,50"
	>
	</app-card>
	<!--Ghost of Tsushima-->
	<app-card
		gameLink="https://www.playstation.com/pt-br/games/ghost-of-tsushima/"
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202106/2322/c16gs6a7lbAYzPf7ZTikbH1c.png"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 349,90"
		>
	</app-card>
	<!--Days Gone-->
	<app-card
		gameLink="https://www.playstation.com/pt-br/games/days-gone/"
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202011/0921/B7jV8ThPs8eqDz8NRRllf7g6.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 79,80"
	>
	</app-card>
</div>

